{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Our PG Services</h2>

<select id="cityFilter" onchange="filterPG()">
    <option value="all">All Cities</option>
    <option value="Ahmedabad">Ahmedabad</option>
    <option value="Surat">Surat</option>
    
</select>

<!-- <button onclick=""> </button> -->
<div class="container"> 
    <div class="row"> 
        <div class="col-md-4">
<!-- <div id="pgContainer" class="pg-container">
    {% for pg in pg_data %}
    <div class="pg-card" data-city="{{ pg.city }}">
        <img src="{% static 'images/' %}{{ pg.image }}"> 
        <h3>{{ pg.name }}</h3>
        <p>{{ pg.description }}</p>
        <p><b>City:</b> {{ pg.city }}</p>
        <p><b>Rent:</b> ₹{{ pg.rent }}</p>
    </div> -->

    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/' %}{{ pg.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" data-city="{{ pg.city }}">Card title</h5>
          <p class="card-text">{{ pg.description }}</p>
          <p class="card-text"><b>City:</b> {{ pg.city }}</p>
          <p class="card-text"><b>Rent:</b> ₹{{ pg.rent }}</p>
          <a href="{% url 'pg_detail' pg.id %}" class="btn btn-primary">
            View Details
        </a>
        </div>
      </div>
    {% endfor %}
</div>
</div>    </div>
</div>

<script>
function filterPG() {
    let city = document.getElementById("cityFilter").value;
    let cards = document.getElementsByClassName("pg-card");

    for (let card of cards) {
        if (city === "all" || card.dataset.city === city) {
            card.style.display = "block";
        } else {
            card.style.display = "none";
        }
    }
}


</script>

{% endblock %}
